h1{
    color: grey;
    font-family: Arial , 'Arial Narrow', Arial, sans-serif;
    font-weight: initial;
    font-size: 70px;
    padding: 0px;
    width: 300px;
    margin: 0;
    position: relative;
    top: 45px;
}


h2{
    color: grey;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: initial;
    font-size: 30px;
    margin: 0;
    padding: 0px;
    float: left;
    height: 30px;
    width: 500px;
    position: relative;
    top: 45px;
}

ul{
margin-bottom: 40px;
right: 20px;
position: relative;
width: 100%;
display: inline-block;
}


li{
   font-weight: bold;
   float: right;
   height: 70px;
   margin: 0 2%;
   margin-top: -67px;
   text-align: center;
   position: inherit;
}


li p {
     font-size: 8px;
     margin: 0 2%;
     margin-top: 3px;
     text-align: center;
     color: grey;
     position: relative;
}

.icon{
    margin-top: 10px;
    }

li a{
    color: grey;
    text-decoration: none;
    font-size: 25px;
}


 #hover:hover, #hover:active{
    color: #D3D3D3;
    font-size: 23px; 
    padding: 20px 0px 20px 0px;
    position: relative;
}

body{
    margin-top: 20px;
    background-color: #100C08;
    position: relative;
}


div .bg{
  margin-top: 90px;
  background-color: green;
 
 
 }

.mySlides{
     position: relative;
     height: 800px;
     width: 100%;
     background-color: green;
     
 }

 
div #span{
    color: turquoise;
    position: absolute;
    font-size: 50px;
    top: 90%;
    right: 44%;
     
}

.container{
    height: 180px;
	width: 100%;
	margin: 0 auto;
    padding-bottom: 10px;
}

/*
*{
border: 1px dashed blue;
}*/