h1{
    color: grey;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: initial;
    font-size: 50px;
    padding: 0px;
    width: 300px;
    margin: 0;
    position: relative;
}

h2{
    color: grey;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: initial;
    font-size: 25px;
    margin: 0;
    padding: 0px;
    float: left;
    height: 30px;
    width: 300px;
    display: inline;
    position: relative;
    
}
li{
   font-weight: bold;
   float: right;
   display: inline;
   height: 70px;
   margin: 0 3%;
   margin-top: -67px;
   text-align: center;
   position: relative;
  
          
}

li p {
     font-size: 8px;
     margin: 0 2%;
     margin-top: 3px;
     text-align: center;
     color: grey;
     position: relative;
}

a{
    color: grey;
    text-decoration: none;
}

a:hover, a:active {
    color:red;
    font-size: 25px; 
    padding: 20px 0px 20px 0px;
}


body{
   
    margin-top: 20px;
    background-color: black;
}


li img{ 
    
}

.bg{
  margin-top: 80px;
  height: 600px;
  width: 100.6%;
background: #b4e391; 
background: -moz-radial-gradient(center, ellipse cover, #b4e391 0%, #61c419 74%, #b4e391 100%);
background: -webkit-radial-gradient(center, ellipse cover, #b4e391 0%,#61c419 74%,#b4e391 100%); 
background: radial-gradient(ellipse at center, #b4e391 0%,#61c419 74%,#b4e391 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4e391', endColorstr='#b4e391',GradientType=1 );
}

div.bg img{
	margin-top: 75px;
	margin-left:30px;
	    
}
.container{
	width: 1300px;
	margin: 0 auto;
	
	
}


/*
*{
border: 1px dashed blue;
}*/