h1{
    color: grey;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: initial;
    font-size: 50px;
    padding: 3px;
    float: top, left;
    width: 300px;
    margin: 0 -1%;
    position: relative;
}

h2{
    color: grey;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: initial;
    font-size: 25px;
    padding: 0spx;
    float: left;
    height: 10px;
    width: 350px;
    margin: 0 -1%;
    position: relative;
    
}
li{
    font-weight: bold;
   float: right;
   display: inline;
   border: 1px dashed blue;
   padding-top: -20000px;
   height: 70px;
   width: 100px;
   margin: 0 3%;
   margin-top: -67px;
   text-align: center;
   position: relative;
   color: grey;
          
}

li p {
     font-size: 8px;
     margin: 0 2%;
     margin-top: 3px;
     text-align: center;
     color: grey;
     position: relative;
}

a{
    color: grey;
    text-decoration: none;
}

a:hover, a:active {
    color:red;
    font-size: 25px; 
    padding: 20px 0px 20px 0px;
}


body{
    background-color: black;
}

{ 
    border: 1px dashed green;
}